

<div class="container">

	<h1>Spring MVC survey</h1>

      <div class="row">
        <div class="col-md-12">
          <h2>Your task</h2>
          <p>
          Hi,<br><br>
          Thanks for joining us in this survey. Our goal is to better understand
          code quality and code smells in Spring MVC applications. To that, 
          we want you to evaluate the code quality of 6 classes we extracted
          from many different projects. The survey should take around 15 minutes.
          <br><br>
          In Spring MVC, many classes have a specific role in the system, i.e.
          Controllers, Services, Entities or Repositories. When analysing the quality
          of the code, take the role the class play into account.
          <br><br>
          If you perceive any problem in the class, we ask you to reason about it.
          If you have any doubts, just let me know.
          <br><br>
          Maurício Aniche (mauricioaniche at gmail dot com)
          </p>
        </div>
      </div>

      <%= form_tag("/save", method: "post") do %>

      <div class="row">
        <div class="col-md-12">
          <h2>Profile</h2>
          <p>
          	What is your current position?<br>
            <small>Examples are Professional software developer, Open Source Developer, Faculty, PhD student, Graduate student, Undergraduate student</small><br>
            <input type="text" name="profile_position">
          </p>
          <p>
          	How many years of experience in software development do you have?<br>
          	<select name="profile_years_experience">
          	<option value="Less than 1 year">Less than 1 year</option>
          	<option value="1 to 2 years">1 to 2 years</option>
          	<option value="2 to 4 years">2 to 4 years</option>
          	<option value="4 to 6 years">4 to 6 years</option>
          	<option value="6 to 8 years">6 to 8 years</option>
          	<option value="8 to 10 years">8 to 10 years</option>
          	<option value="More than 10 years">More than 10 years</option>
          	</select>
          </p>
          <p>
          	How many years of experience in Spring MVC do you have?<br>
          	<select name="profile_years_springmvc">
          	<option value="Less than 1 year">Less than 1 year</option>
          	<option value="1 to 2 years">1 to 2 years</option>
          	<option value="2 to 4 years">2 to 4 years</option>
          	<option value="4 to 6 years">4 to 6 years</option>
          	<option value="6 to 8 years">6 to 8 years</option>
          	<option value="8 to 10 years">8 to 10 years</option>
          	<option value="More than 10 years">More than 10 years</option>
          	</select>
          </p>

          <p>
          How many Spring MVC applications have you put in production?<br>

          <input type="text" name="profile_apps_production">
          </p>
        </div>
      </div>

      <% for i in 0..@classes.size-1 do %>
      <input type="hidden" name="c<%= i %>_gist" value="<%=@classes[i]%>">
      <div class="evaluation">
	      <div class="row">
	        <div class="col-md-12">
	          <h2>Class #<%=i+1%></h2>
	          <p>
            Open the class in a new window: <a href="https://gist.github.com/mauricioaniche/<%=@classes[i]%>" target="_blank">https://gist.github.com/mauricioaniche/<%=@classes[i]%></a>
	          </p>
	        </div>
	      </div>

	      <div class="row">

		      <div class="col-md-12">
		      <p>
		      	In your opinion, does this class exhibit any design and/or implementation problem?
		      	<br>

		      	<input type="radio" name="c<%= i %>_hasproblem" value="yes" /> YES
		      	<input type="radio" name="c<%= i %>_hasproblem" value="no" /> NO
		      </p>

		      <p>
			      If YES, please explain what are, in your opinion, the problems affecting the class.
			      <br>
			      <textarea name="c<%= i %>_problem"></textarea>
		      </p>

		      <p>
				If YES, please rate the severity of the design and/or implementation problem by assigning a score:

				<br>
		      <input type="radio" value="1" name="c<%= i %>_severity"> Very low<br>
		      <input type="radio" value="2" name="c<%= i %>_severity"> Low<br>
		      <input type="radio" value="3" name="c<%= i %>_severity"> Medium<br>
		      <input type="radio" value="4" name="c<%= i %>_severity"> High<br>
		      <input type="radio" value="5" name="c<%= i %>_severity"> Very high<br>

		      </p>

		      <p>
			      In your opinion, does this class need to be refactored?
			      <br>
		      	<input type="radio" name="c<%= i %>_needrefactor" value="yes" /> YES
		      	<input type="radio" name="c<%= i %>_needrefactor" value="no" /> NO
		      </p>


		      <p>
			      If YES, how would you refactor this class?

					<br>
			      <textarea name="c<%= i %>_refactoring"></textarea>
		      </p>

		      </div>
	      </div>

      </div>

      <% end %>


      <div class="row">
        <div class="col-md-12">
          <h2>Thanks!</h2>
          <p>
          We appreciate your effort. <strong>We are 
          raffling a 30 euros Amazon gift card. Add your e-mail here to be
          part of it</strong>.

          <br>
          <input type="text" name="email">
          </p>
        </div>
      </div>

      <%= submit_tag("Submit", class: "btn btn-success") %>
      <% end %>

      <br><br><br><br><br><br><br>
</div>
