<div class="container">

	<center><h1>Experimento de Código Android</h1></center>

  <div class="row alert alert-warning" role="alert"> 
    <div class="col-md-12">
      <h2>Sua tarefa:</h2>
      <p>
        Olá! Meu nome é <b>Suelen Carvalho</b> e sou estudante de mestrado em <b>Ciência da Computação</b> pelo <b>Instituto de Matemática e Estatísticas</b> da <b>USP</b>. Eu pesquiso sobre qualidade de código Android.
        
        <br><br>
        <b>Em retribuição a sua participação, você ganhará um livro da <a href="https://www.casadocodigo.com.br" target="_blank">Casa do Código</a></b>!!! Basta me responder o <b>email convite</b> que você recebeu informando que concluiu a pesquisa, irei confirmar e em seguida, lhe envio as instruções para obter o livro.

        <br><br>      
        Nosso objetivo é entender melhor a qualidade do código em projetos Android nativos. Para isso, queremos que você <b>avalie a qualidade de 6 códigos</b> que extraímos de diversos projetos diferentes. A pesquisa deve demorar cerca de 15 minutos, mas tome o tempo que precisar. 

        <br><br>
        Os códigos apresentados são usados para para criar a camada de apresentação Android, ou seja, as telas que o usuário vê e interage, como por exemplo: <i>Activities</i>, <i>Fragments</i>, <i>Adapters</i>, <i>Listeners</i>, XMLs de <i>Layout</i>, <i>Strings</i> e <i>Styles</i>. Nós removemos packages e imports para facilitar a leitura. 
        
        <br><br>
        Se você perceber qualquer problema no código, de design ou implementação, nós te pedimos para escrever sobre seu raciocínio. 

        <hr>
        Qualquer dúvida, me envie um email (suelengcarvalho at gmail).
      </p>
    </div>
  </div>

  <%= form_tag("/save", method: "post") do %>



  <div class="row">
    <div class="col-md-12">
      <h2 class="bg-primary text-white" style="padding: 5px">Perfil</h2>
      <p>
        Email (usaremos apenas para confirmar sua resposta e lhe passar as informações para obter o livro)
        <input type="text" name="email" style="width: 60%">
      </p>
      
      <p>Qual é a sua posição atual?<br>
       <small>Exemplos: desenvolvedor de software, engenheiro de software, analista de sistemas, estudante de doutorado, estudante de pós-graduação, estudante de gradução</small><br>
       <input type="text" name="profile_position">
     </p>
     <p>
       Quantos anos de experiência em desenvolvimento de software você tem?<br>
       <select name="profile_years_experience">
         <option value="Less than 1 year">Menos de 1 ano</option>
         <option value="1 to 2 years">De 1 a 2 anos</option>
         <option value="2 to 4 years">De 2 a 4 anos</option>
         <option value="4 to 6 years">De 4 a 6 anos</option>
         <option value="6 to 8 years">De 6 a 8 anos</option>
         <option value="8 to 10 years">De 8 a 10 anos</option>
         <option value="More than 10 years">Mais de 10 anos</option>
       </select>
     </p>
     <p>
       Quantos anos de experiência com desenvolvimento Android nativo você tem?<br>
       <select name="profile_years_android">
         <option value="Less than 1 year">Menos de 1 ano</option>
         <option value="1 to 2 years">De 1 a 2 anos</option>
         <option value="2 to 4 years">De 2 a 4 anos</option>
         <option value="4 to 6 years">De 4 a 6 anos</option>
         <option value="6 to 8 years">De 6 a 8 anos</option>
         <option value="8 to 10 years">De 8 a 10 anos</option>
         <option value="More than 10 years">Mais de 10 anos</option>
       </select>
     </p>

     <p>
      Quantos aplicativos Android nativo você já publicou?<br>
      <small>Você pode considerar, por exemplo, aplicativos pessoais, de empresas que você trabalha ou trabalhou, projetos desenvolvidos para terceiros, desde que tenham sido publicados.</small><br>
      <input type="text" name="profile_apps_production">
    </p>
  </div>
</div>

<% for i in 0..@classes.size-1 do %>
<input type="hidden" name="c<%= i %>_gist" value="<%=@classes[i]%>">
<div class="evaluation">
 <div class="row">
   <div class="col-md-12">
     <div class="p-3 mb-2 bg-primary text-white">
        <h2 style="padding: 5px">Código-Fonte #<%=i+1%></h2>
     </div>
     <p>
      Abra este código em uma nova aba ou janela: <a href="https://gist.github.com/suelengc/<%=@classes[i]%>" target="_blank">https://gist.github.com/suelengc/<%=@classes[i]%></a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
     Na sua opinião, este código apresenta algum problema de design e/ou implementação?
     <br>

     <input type="radio" name="c<%= i %>_hasproblem" value="yes" /> SIM
     <input type="radio" name="c<%= i %>_hasproblem" value="no" /> NÃO
   </p>

   <p>
     Se SIM, por favor explique quais são, na sua opinião, os problemas que afetam este código.
     <br>
     <textarea name="c<%= i %>_problem"></textarea>
   </p>

   <p>

    Se SIM, por favor avalie a severidade do problema de design e/ou implementação selecionando dentre as opções a seguir:
    <br>
    <input type="radio" value="1" name="c<%= i %>_severity"> Muito baixa<br>
    <input type="radio" value="2" name="c<%= i %>_severity"> Baixa<br>
    <input type="radio" value="3" name="c<%= i %>_severity"> Média<br>
    <input type="radio" value="4" name="c<%= i %>_severity"> Alta<br>
    <input type="radio" value="5" name="c<%= i %>_severity"> Muito alta<br>

  </p>

</div>
</div>

</div>

<% end %>

<div class="row">
  <div class="col-md-12">
    <h2>Obrigada!</h2>
  </div>
</div>

<%= submit_tag("Enviar", class: "btn btn-primary") %>
<% end %>

<br><br>
</div>
